.sectionTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 24px;
  @media (max-width: 768px) {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    h1 {
      color: rgba(var(--colors-primary));
      span {
        color: rgba(var(--colors-tertiary));
      }
      @media (max-width: 768px) {
        font-size: 36px;
      }
    }
    p {
      color: rgba(var(--colors-primary));
      font-size: 18px;
      span {
        color: rgba(var(--colors-tertiary));
      }
      @media (max-width: 768px) {
        font-size: 16px;
        width: 100%;
        text-align: left;
      }
    }
  }
  a {
    button {
      width: 200px;
    }
  }
}
