.light {
  height: 84vh;
  width: 100%;
  background: rgb(11, 99, 128);
  background: linear-gradient(
    90deg,
    rgba(var(--colors-primary), 1) 30%,
    rgba(var(--colors-primary), 0.7) 60%,
    rgba(var(--colors-secondary), 0.8) 100%
  );
  padding: 44px 0px;
  position: relative;
  @media (max-width: 768px) {
    height: fit-content;
  }

  .noise {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/noise.png');
    background-size: contain;
    left: 0;
    z-index: 0;
  }

  .container {
    display: flex;
    gap: 100px;
    height: 100%;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }

    .image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
      overflow: hidden;
      @media (max-width: 768px) {
        width: 100%;
      }

      .label {
        display: flex;
        position: absolute;
        top: 10%;
        left: 0;
        font-size: 24px;
        font-weight: 600;
        color: rgba(var(--colors-secondary));
        background-color: rgba(var(--colors-primary));
        padding: 12px 32px;
        width: 320px;
        text-align: right;
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .content {
      min-width: 50%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(var(--colors-light)) !important;
      p {
        color: rgba(var(--colors-light)) !important;
      }
      h1 {
        color: rgba(var(--colors-light)) !important;
        @media (max-width: 768px) {
          font-size: 36px;
        }
      }
      h2 {
        color: rgba(var(--colors-light)) !important;
      }
      h3 {
        color: rgba(var(--colors-light)) !important;
      }
    }
  }
}

.dark {
  height: 90vh;
  width: 100%;
  background-color: rgba(var(--colors-tertiary));
  padding: 44px 0px;
  position: relative;
  @media (max-width: 768px) {
    height: fit-content;
  }

  .container {
    display: flex;
    gap: 100px;
    height: 100%;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }

    .image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
      overflow: hidden;
      @media (max-width: 768px) {
        width: 100%;
      }

      .label {
        position: absolute;
        top: 10%;
        left: 0;
        font-size: 24px;
        font-weight: 600;
        color: rgba(var(--colors-secondary));
        background-color: rgba(var(--colors-tertiary));
        padding: 12px 32px;
        width: 320px;
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .content {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 768px) {
        width: 100%;
        padding-inline: 24px;
      }
      h1 {
        color: rgba(var(--colors-light)) !important;
        @media (max-width: 768px) {
          font-size: 36px;
        }
      }
      strong {
        color: rgba(var(--colors-light));
      }
      p {
        color: rgba(var(--colors-light));
      }
    }
  }
}

.reverse {
  flex-direction: row-reverse !important;
  @media (max-width: 768px) {
    flex-direction: column !important;
  }
  .image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    overflow: hidden;

    .label {
      position: absolute;
      top: 10%;
      right: 0;
      left: initial !important;
      font-size: 24px;
      font-weight: 600;
      color: rgba(var(--colors-secondary));
      background-color: rgba(var(--colors-primary));
      padding: 8px 32px;
      border: 1px solid rgba(var(--colors-secondary));
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(var(--colors-light));
    @media (max-width: 768px) {
      width: 100%;
      padding-inline: 24px;
    }
  }
}
