.image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: rgba(var(--colors-dark));
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.9;
  }
}
.contact {
  padding: 88px 0px;
  @media (max-width: 768px) {
    padding: 60px 24px;
  }
  h1 {
    text-align: center;
    color: rgba(var(--colors-secondary));
    // font-size: 52px;
  }
  p {
    text-align: center;
    color: rgba(var(--colors-light), 0.7);
    font-size: 14px;
    margin-bottom: 24px;
    span {
      color: rgba(var(--colors-secondary));
    }
  }
  form {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    .formGroup {
      &:nth-last-child(2) {
        // border: 1px solid red;
        grid-column: span 2;
        @media (max-width: 768px) {
          grid-column: span 1;
        }
      }
    }
    button {
      grid-column: span 2;
      height: 52px;
      font-size: 16px;
      margin-top: 12px;
      @media (max-width: 768px) {
        grid-column: span 1;
        font-size: 14px;
      }
    }
  }
}
