.header {
  position: fixed;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding: 24px 24px;
  z-index: 1000;
  // background-color: rgba(var(--colors-secondary));
  .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    @media (max-width: 768px) {
      grid-template-columns: 1fr 2fr;
    }
    .logoNav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4rem;
      padding-right: 24px;

      .logo {
        position: relative;
        img {
          object-fit: cover;
          height: 52px;
          cursor: pointer;
        }
      }

      .nav {
        ul {
          display: flex;
          gap: 2rem;
          list-style: none;
          padding: 0;
          margin: 0;
        }

        li {
          .secondaryLink {
            text-decoration: none;
            color: rgba(var(--colors-secondary)) !important;
            font-weight: 500;
            &::after {
              content: '';
              display: block;
              width: 100% !important;
              height: 2px;
              background-color: rgba(var(--colors-secondary));
              transition: width 0.3s;
            }
          }
          .primaryLink {
            text-decoration: none;
            color: rgba(var(--colors-light));
            font-weight: 500;
            &::after {
              content: '';
              display: block;
              width: 10px;
              height: 2px;
              background-color: rgba(var(--colors-secondary));
              transition: width 0.3s;
            }
            &:hover {
              &::after {
                content: '';
                width: 100%;
              }
            }
          }
        }
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      @media (max-width: 768px) {
        display: none;
      }
      a {
        button {
          width: 144px;
        }
      }
    }
    .hamburger {
      display: none;
      @media (max-width: 768px) {
        display: flex;
        justify-content: flex-end;
        color: rgba(var(--colors-secondary));
      }
    }
  }
}

.headerMove {
  position: fixed;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding: 24px 24px;
  z-index: 1000;
  background-color: rgba(var(--colors-tertiary));
  transition: background-color 0.3s;
  .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    .logoNav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4rem;
      padding-right: 24px;
      .logo {
        position: relative;
        img {
          object-fit: cover;
          height: 52px;
          cursor: pointer;
        }
      }

      .nav {
        ul {
          display: flex;
          gap: 2rem;
          list-style: none;
          padding: 0;
          margin: 0;
        }

        li {
          .primaryLink {
            text-decoration: none;
            color: rgba(var(--colors-light));
            font-weight: 500;
            &:hover {
              color: rgba(var(--colors-secondary));
            }
          }
        }
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      @media (max-width: 768px) {
        display: none;
      }
      a {
        button {
          width: 144px;
        }
      }
    }
    .hamburger {
      display: none;
      @media (max-width: 768px) {
        display: flex;
        justify-content: flex-end;
        color: rgba(var(--colors-secondary));
      }
    }
  }
}
