.bg {
  position: relative;
  background: rgb(11, 99, 128);
  background: linear-gradient(
    0deg,
    rgba(var(--colors-primary)) 20%,
    rgba(var(--colors-secondary)) 100%
  );
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(var(--colors-dark), 0.8);
    z-index: 100;
    backdrop-filter: blur(4px);

    .back {
      background-color: rgba(var(--colors-secondary));
      position: absolute;
      top: 32px;
      left: 32px;
      padding: 6px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 101;
      color: rgba(var(--colors-primary));
      svg {
        width: 36px;
        height: 36px;
        @media (max-width: 768px) {
          width: 24px;
          height: 24px;
        }
      }
    }
    .download {
      background-color: rgba(var(--colors-secondary));
      position: absolute;
      top: 32px;
      right: 32px;
      padding: 6px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 101;
      color: rgba(var(--colors-primary));
      svg {
        width: 36px;
        height: 36px;
        @media (max-width: 768px) {
          width: 24px;
          height: 24px;
        }
      }
    }
    .modalContent {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .manuelContainer {
    position: relative;
    min-height: 100vh;
    background-color: rgba(var(--colors-tertiary), 50%);
    backdrop-filter: blur(4px);

    // background-color: rgba(var(--colors-primary));
    .header {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      height: 20vh;
      background-color: transparent;
      padding-inline: 40px;
      @media (max-width: 768px) {
        padding-inline: 12px;
      }

      .settings {
        display: flex;
        flex-direction: column;
        color: rgba(var(--colors-primary));
        justify-content: space-between;
        align-items: flex-end;
        padding-block: 12px;
        height: 62% !important;
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: 1px solid rgba(var(--colors-primary));
          border-radius: 50%;
          height: fit-content;
          width: fit-content;
          background-color: rgba(var(--colors-secondary));
          padding: 6px;
          &:active {
            transform: scale(0.98);
          }
        }
        .invite {
          position: relative;
          overflow: hidden;
          border-radius: 32px;
          width: 36px;
          height: 36px;
          cursor: pointer;
          transition: width 0.4s ease;
          border: none;
          transition: border 0.4 ease;
          user-select: none;
          &:active {
            transform: scale(0.98);
          }
          &:hover {
            border-left: none !important;
            border: 1px solid rgba(var(--colors-primary));
            width: 124px;
            transition: border 0.4 ease;
            @media (max-width: 768px) {
              width: 36px;
              border: none;
            }
            .icon {
              transform: rotate(-360deg);
              transition: 0.4s ease;
              @media (max-width: 768px) {
                transform: rotate(0deg);
              }
            }
            .text {
              visibility: visible;
              @media (max-width: 768px) {
                display: none;
              }
            }
          }

          .icon {
            transform: rotate(0deg);
            transition: 0.4s ease;
            background-color: rgba(var(--colors-secondary));
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(var(--colors-primary));
            border-radius: 50%;
            height: fit-content;
            width: fit-content;
            padding: 6px;
            position: absolute;
            z-index: 1;
            @media (max-width: 768px) {
              transform: rotate(0deg);
            }
          }
          .text {
            position: absolute;
            top: 0;
            right: 8px;
            font-size: 12px;
            visibility: hidden;
            height: 100%;
            display: flex;
            align-items: center;
          }
        }
      }
      .middlePart {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        height: 32vh;
        padding-top: 12px;
        @media (max-width: 768px) {
          // height: 125%;
        }
        .logo {
          height: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            text-decoration: none;
            color: rgba(var(--colors-secondary));
            font-size: 24px;
            font-weight: 600;
          }
        }
        .user {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 12px;
          .username {
            text-align: center;
            font-size: 20px;
            color: rgba(var(--colors-secondary));
            min-width: 200px;
            @media (max-width: 768px) {
              font-size: 16px;
            }
          }
          .avatar {
            width: 120px;
            height: 120px;
            position: relative;
            background-color: rgba(var(--colors-light));
            border-radius: 50%;
            overflow: hidden;
            @media (max-width: 768px) {
              width: 100px;
              height: 100px;
            }
            &:hover {
              .update {
                visibility: visible;
                background-color: rgba(var(--colors-tertiary), 0.4);
                // transition: 0.2s ease;
                cursor: pointer;
              }
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            .update {
              visibility: hidden;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              z-index: 2;
              top: 0;
              // transition: 0.2s ease;
              color: rgba(var(--colors-primary));
            }
          }
        }
      }
    }
    .filter {
      height: 120px;
    }
    .body {
      height: 100%;
      min-height: 60vh;

      padding-block: 24px;

      padding-inline: 24px;
      @media (max-width: 768px) {
        padding-inline: 8px;
      }
      .imageHolder {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        gap: 4px;
        .addPhoto {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 200px;
          height: 200px;
          border: 3px dashed rgba(var(--colors-secondary));
          color: rgba(var(--colors-secondary));
          background-color: rgba(var(--colors-primary), 0.8);
          cursor: pointer;
          text-align: center;
          span {
            margin-top: 8px;
            font-size: 14px;
            color: rgba(var(--colors-secondary));
          }
          @media (max-width: 768px) {
            height: 100px;
            width: 100px;
          }
        }
        .photo {
          width: 200px;
          height: 200px;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          @media (max-width: 768px) {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
  $container-max-width: (
    small: 100%,
    medium: 610px,
    large: 738px,
    x-large: 994px,
    xx-large: 1290px
  );

  .footer {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 60px;
    background-color: transparent;
    bottom: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 640px) {
      max-width: map-get($container-max-width, medium);
    }

    @media (min-width: 768px) {
      max-width: map-get($container-max-width, large);
    }

    @media (min-width: 1024px) {
      max-width: map-get($container-max-width, x-large);
    }

    @media (min-width: 1200px) {
      max-width: map-get($container-max-width, xx-large);
    }
  }
}
