.faqContainer {
  width: 100%;
  gap: 24px;
  z-index: 1;
  .faqTitle {
    color: rgba(var(--colors-light));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 88px;
    @media (max-width: 768px) {
      padding: 0px 24px;
    }

    h1 {
      text-align: center;
      font-size: 52px;
      margin-bottom: 44px;
      @media (max-width: 768px) {
        font-size: 36px;
      }
    }
  }
  .faqList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media (max-width: 768px) {
      padding: 0px 24px;
    }

    .faqItem {
      border: 1px solid rgba(var(--colors-secondary));
      border-radius: 6px;
      overflow: hidden;
      transition: all 0.3s ease;
      background-color: rgba(var(--colors-light));
      .faqAnswer {
        padding: 16px;
        border-top: 1px solid rgba(var(--colors-secondary));
        background-color: rgba(var(--colors-light), 0.7);
        font-size: 15px;
        color: rgba(var(--colors-dark), 0.6);
      }
      .faqQuestion {
        width: 100%;
        background: none;
        border: none;
        padding: 16px;
        text-align: left;
        font-size: 16px;
        color: rgba(var(--colors-tertiary));
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .faqToggle {
          font-size: 20px;
          color: rgba(var(--colors-tertiary));
        }
      }
    }
  }
}
