.container {
  position: relative;
  min-height: 100vh;
  padding: 100px 120px;
  .paper {
    background-color: rgba(var(--colors-light));
    height: 100%;
    width: 100%;
    border: 1px solid white;
    padding: 60px 88px;
    h1 {
      font-size: 28px;
      color: #444;
      margin-bottom: 20px;
      border-bottom: 2px solid #eee;
      padding-bottom: 10px;
    }

    h2 {
      font-size: 20px;
      margin-top: 24px;
      color: #222;
    }

    p {
      margin-bottom: 10px;
    }

    ul {
      padding-left: 20px;
      margin-bottom: 10px;
    }

    li {
      margin-bottom: 6px;
    }

    .email {
      margin-top: 20px;
      font-weight: bold;
    }
  }
}
