.container {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;
  width: 100%;
}

.label {
  color: rgba(var(--colors-secondary));
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

  svg {
    margin-right: 1.5px;
  }
}

.innerWrapper {
  position: relative;
  display: flex;
  align-items: center;

  .innerRight {
    position: absolute;
    right: 8px;
  }

  input {
    border-radius: 8px;
    border: 1px solid rgba(var(--colors-tertiary), 0.8);
    color: rgba(var(--colors-tertiary));
    gap: 10px;
    height: 41px;
    width: 100%;
    padding: 10px 20px;
    box-shadow: none;
    outline: none;
    &:focus {
      border: 1px solid rgba(var(--colors-secondary));
    }
  }
}
