.bg {
  position: relative;
  // background-color: rgba(var(--colors-tertiary));
  background: rgba(11, 99, 128, 0.2);
  background: linear-gradient(
    0deg,
    rgba(var(--colors-primary)) 20%,
    rgba(var(--colors-secondary)) 100%
  );
  .firstModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(var(--colors-dark), 0.8);
    z-index: 100;
    backdrop-filter: blur(12px);
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 32px;
      border-radius: 4px;
      background-color: rgba(var(--colors-tertiary));
      display: flex;
      flex-direction: column;
      gap: 24px;
      @media (max-width: 768px) {
        padding: 16px;
        width: 90%;
      }
      .logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          height: 50px;
          object-fit: cover;
        }
        h1 {
          color: rgba(var(--colors-secondary));
          text-align: center;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media (max-width: 768px) {
          gap: 16px;
        }
        .miniText {
          font-size: 10px;
          color: rgba(var(--colors-secondary));
          text-align: center;
          margin-top: 6px;
        }
        .names {
          display: flex;
          gap: 24px;
          @media (max-width: 768px) {
            flex-direction: column;
            gap: 12px;
          }
        }
        .imageHolder {
          display: flex;
          width: 100%;
          height: fit-content;
          gap: 4px;
          @media (max-width: 768px) {
            flex-direction: column;
          }

          .addPhoto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 120px;
            width: 100%;
            height: 120px;
            border: 3px dashed rgba(var(--colors-secondary));
            color: rgba(var(--colors-secondary));
            // background-color: rgba(var(--colors-primary), 0.8);
            @media (max-width: 768px) {
              height: 86px;
            }
            cursor: pointer;
            text-align: center;
            span {
              margin-top: 8px;
              font-size: 14px;
              color: rgba(var(--colors-secondary));
            }
            // @media (max-width: 768px) {
            //   height: 108px;
            //   width: 100%;
            // }
          }

          .photo {
            width: 100%;
            height: 120px;
            overflow: hidden;
            position: relative;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            // @media (max-width: 768px) {
            //   width: 108px;
            //   height: 108px;
            // }
          }
        }
      }
    }
  }
  .deleteModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(var(--colors-secondary), 0.6);
    z-index: 101;
    backdrop-filter: blur(4px);
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 32px;
      border-radius: 4px;
      background-color: rgba(var(--colors-tertiary));
      display: flex;
      flex-direction: column;
      gap: 24px;
      @media (max-width: 768px) {
        padding: 16px;
        width: 90%;
      }
      .logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          height: 50px;
          object-fit: cover;
        }
      }
      .sure {
        color: rgba(var(--colors-secondary));
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        .buttons {
          margin-top: 32px;
          display: flex;
          gap: 24px;
        }
      }
    }
  }
  .qrCodeModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(var(--colors-secondary), 0.6);
    z-index: 101;
    backdrop-filter: blur(4px);
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 32px;
      border-radius: 4px;
      background-color: rgba(var(--colors-tertiary));
      display: flex;
      flex-direction: column;
      gap: 24px;
      @media (max-width: 768px) {
        padding: 16px;
        width: 90%;
      }
      .closeButton {
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 12px;
        color: rgba(var(--colors-secondary));
      }
      .logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          height: 50px;
          object-fit: cover;
        }
      }
      .sure {
        color: rgba(var(--colors-secondary));
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        .qrCard {
          position: relative;
          width: 460px;
          height: 324px;
          background-color: rgba(var(--colors-tertiary));
          .info {
            position: absolute;
            bottom: -18px;
            width: 100%;
            font-size: 12px;
          }

          .download {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            width: 50px;
            height: 50px;
          }
        }
        .content {
          height: fit-content;
          width: 460px;
          height: 324px;
          background: rgba(var(--colors-tertiary));
          background: linear-gradient(
            120deg,
            rgba(var(--colors-tertiary), 1) 30%,
            rgba(var(--colors-tertiary), 1) 50%,
            rgba(var(--colors-primary), 1) 100%
          );
          // border: 1px solid rgba(var(--colors-light), 0.6);
          padding: 8mm 10mm;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          // gap: 14mm;
          z-index: 1;
          border-radius: 0px;
          .pattern {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.069;
            z-index: -1;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .brand {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            right: 8px;
            top: 8px;
            opacity: 0.8;
            img {
              height: 20px;
              object-fit: cover;
            }
          }
        }

        .eventTitle {
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          color: rgba(var(--colors-light));
        }

        .eventInfo {
          margin-top: 8px;
          font-size: 12px;
          padding-inline: 44px;
          text-align: center;
          color: rgba(var(--colors-light), 0.8);
        }

        .wrapper {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: center;
          gap: 20px;
        }

        .qrWrapper {
          display: flex;
          justify-content: center;
        }

        .qrWrapper img {
          padding: 4px;
          border: 1px dashed rgba(var(--colors-secondary), 0.4);
          width: 132px;
          height: 132px;
        }

        .note {
          font-size: 14px;
          text-align: center;
          width: 200px;
          color: rgba(var(--colors-light), 0.8);
        }
        .buttons {
          margin-top: 32px;
          display: flex;
          gap: 24px;
        }
      }
    }
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(var(--colors-dark), 0.8);
    z-index: 100;
    backdrop-filter: blur(4px);

    .back {
      background-color: rgba(var(--colors-primary));
      position: absolute;
      top: 32px;
      left: 32px;
      padding: 6px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 101;
      color: rgba(var(--colors-light));
      svg {
        width: 36px;
        height: 36px;
        @media (max-width: 768px) {
          width: 24px;
          height: 24px;
        }
      }
    }
    .download {
      background-color: rgba(var(--colors-secondary));
      position: absolute;
      top: 32px;
      right: 32px;
      padding: 6px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 101;
      color: rgba(var(--colors-primary));
      svg {
        width: 36px;
        height: 36px;
        @media (max-width: 768px) {
          width: 24px;
          height: 24px;
        }
      }
    }
    .close {
      background-color: red;
      position: absolute;
      top: 32px;
      right: 100px;
      padding: 14px 24px;
      border-radius: 20%;
      cursor: pointer;
      z-index: 101;
      color: rgba(var(--colors-light));
      @media (max-width: 768px) {
        right: 80px;
        padding: 8px 12px;
      }
      svg {
        width: 36px;
        height: 36px;
        @media (max-width: 768px) {
          width: 24px;
          height: 24px;
        }
      }
    }
    .modalContent {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--colors-tertiary), 0.8);
    .header {
      position: relative;

      width: 100%;
      height: 36vh;
      background-color: transparent;
      .main {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .logo {
          z-index: 1;
          position: relative;
          img {
            height: 52px;
            object-fit: cover;
            cursor: pointer;
            margin-top: 8px;
          }
        }

        .avatar {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 0px 0px 8px 8px;
          overflow: hidden;
          background-color: rgba(var(--colors-light));
          // z-index: -1;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .username {
          z-index: 1;
          color: rgba(var(--colors-light));
          background-color: rgba(var(--colors-tertiary), 0.6);
          padding: 12px 24px;
          border-radius: 4px 4px 0px 0px;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 500;
          font-family: Georgia, 'Times New Roman', Times, serif;
          text-align: center;
          @media (max-width: 768px) {
            font-size: 16px;
          }
        }
      }
      .settings {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 0;
        bottom: 0;
        gap: 12px;
        padding: 12px 12px;
        .icon {
          cursor: pointer;
          background-color: rgba(var(--colors-tertiary), 0.6);
          color: rgba(var(--colors-light));
          border-radius: 50%;
          padding: 6px;
          border: 1px solid rgba(var(--colors-light), 0.6);
          &:first-child {
            color: rgba(var(--colors-light), 0.6);
          }
          &:active {
            transform: scale(0.95);
          }
          @media (max-width: 768px) {
            padding: 4px;
            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
    .filter {
      min-height: 60px;
      height: fit-content;
    }
    .body {
      position: relative;
      height: 100%;
      min-height: 60vh;

      // padding-block: 24px;

      padding-inline: 24px;
      @media (max-width: 768px) {
        padding-inline: 8px;
      }
      .buttons {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 12px;
      }
      .noData {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: rgba(var(--colors-secondary), 0.8);
      }
      .imageHolder {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        width: 100%;
        height: fit-content;
        gap: 8px;
        @media (max-width: 1024px) {
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
        @media (max-width: 768px) {
          grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        }

        .addPhoto {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 200px;
          border: 3px dashed rgba(var(--colors-secondary));
          color: rgba(var(--colors-secondary));
          border-radius: 8px;
          cursor: pointer;
          text-align: center;
          span {
            margin-top: 8px;
            font-size: 14px;
            color: rgba(var(--colors-secondary));
          }
          @media (max-width: 768px) {
            height: 108px;
          }
        }
        .photo {
          height: 200px;
          overflow: hidden;
          position: relative;
          cursor: pointer;
          border-radius: 8px;
          transform: scale(1);
          transition: transform 0.2s ease-in-out;
          @media (max-width: 768px) {
            height: 108px;
          }
          &:hover {
            transform: scale(0.98);
            transition: transform 0.2s ease-in-out;
            border: 1px solid rgba(var(--colors-secondary));
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  $container-max-width: (
    small: 100%,
    medium: 610px,
    large: 738px,
    x-large: 994px,
    xx-large: 1290px
  );

  .footer {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 60px;
    background-color: transparent;
    bottom: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 640px) {
      max-width: map-get($container-max-width, medium);
    }

    @media (min-width: 768px) {
      max-width: map-get($container-max-width, large);
    }

    @media (min-width: 1024px) {
      max-width: map-get($container-max-width, x-large);
    }

    @media (min-width: 1200px) {
      max-width: map-get($container-max-width, xx-large);
    }
  }
}

.menuOverlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}
.menuContent {
  background-color: rgba(var(--colors-tertiary));
  width: 50%;
  height: 100%;
  transform: translateX(200%);
  transition: transform 0.3s ease;
  @media (max-width: 768px) {
    width: 100%;
  }
  .closeButton {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 16px;
    color: rgba(var(--colors-secondary));
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    padding: 84px 44px;
    height: 100%;

    @media (max-width: 768px) {
      gap: 16px;
      padding: 64px 24px;
    }
    .miniText {
      font-size: 10px;
      color: rgba(var(--colors-secondary));
      text-align: center;
      margin-top: 6px;
    }
    .names {
      display: flex;
      flex-direction: column;
      gap: 24px;
      @media (max-width: 768px) {
        gap: 12px;
      }
    }
    .imageHolder {
      display: flex;
      width: 100%;
      height: fit-content;
      gap: 4px;
      flex-direction: column;
      .addPhoto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 120px;
        width: 100%;
        height: 120px;
        border: 3px dashed rgba(var(--colors-secondary));
        color: rgba(var(--colors-secondary));
        @media (max-width: 768px) {
          height: 86px;
        }
        cursor: pointer;
        text-align: center;
        span {
          margin-top: 8px;
          font-size: 14px;
          color: rgba(var(--colors-secondary));
        }
      }

      .photo {
        width: 100%;
        height: 120px;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.menuOverlay.open {
  opacity: 1;
  visibility: visible;
}

.menuOverlay.open .menuContent {
  transform: translateX(0);
}
