.footer {
  position: relative;
  max-height: 40vh;
  padding-top: 24px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--colors-secondary));
  border-top: 1px solid rgba(var(--colors-primary));

  .container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-end;

    .logo {
      height: 100%;
      padding: 20px 0px;
      grid-area: 1 / 1 / 2 / 2;

      a {
        text-decoration: none;
        color: rgba(var(--colors-primary));
        font-size: 44px;
        font-weight: 600;
      }
    }
    .part {
      display: flex;
      justify-content: space-between;
      padding: 24px 0px;
      color: rgba(var(--colors-primary));
      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      a {
        text-decoration: none;
        color: rgba(var(--colors-primary));
      }
      grid-area: 1 / 2 / 2 / 4;
    }
    .footerFooter {
      grid-area: 2 / 1 / 3 / 4;
    }
  }
  .footerFooter {
    margin-top: 24px;
    border-top: 1px solid rgba(var(--colors-tertiary));
    border-bottom: 1px solid rgba(var(--colors-tertiary));
    color: rgba(var(--colors-primary));
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 0px;
    .footerContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .circleList {
        display: flex;
        gap: 1rem;
        div {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: rgba(var(--colors-tertiary));
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:active {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}

.darkFooter {
  position: relative;
  max-height: 40vh;
  padding-top: 24px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--colors-primary));
  border-top: 1px solid rgba(var(--colors-secondary));

  .container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-end;

    .logo {
      height: 100%;
      padding: 20px 0px;
      grid-area: 1 / 1 / 2 / 2;

      a {
        text-decoration: none;
        color: rgba(var(--colors-secondary));
        font-size: 44px;
        font-weight: 600;
      }
    }
    .part {
      display: flex;
      justify-content: space-between;
      padding: 24px 0px;
      color: rgba(var(--colors-secondary));
      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      a {
        text-decoration: none;
        color: rgba(var(--colors-secondary));
      }
      grid-area: 1 / 2 / 2 / 4;
    }
    .footerFooter {
      grid-area: 2 / 1 / 3 / 4;
    }
  }
  .footerFooter {
    margin-top: 24px;
    border-top: 1px solid rgba(var(--colors-tertiary));
    border-bottom: 1px solid rgba(var(--colors-tertiary));
    color: rgba(var(--colors-secondary));
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 0px;
    .footerContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .circleList {
        display: flex;
        gap: 1rem;
        div {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: rgba(var(--colors-tertiary));
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:active {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}
