.swiper {
  width: 100%;

  h1 {
    text-align: center;
    color: rgba(var(--colors-light));
    font-size: 52px;
    margin-top: 52px;
    @media (max-width: 768px) {
      font-size: 36px;
      margin-top: 44px;
    }
  }
}

.sectionTwoH1 {
  h1 {
    font-size: 72px;
  }
  p {
    text-align: center;
  }
}
