:root {
  --colors-primary: 11, 99, 128;
  --colors-secondary: 229, 246, 122;
  --colors-tertiary: 0, 0, 16;
  --colors-light: 255, 255, 255;
  --colors-dark: 0, 0, 0;
}


// #000010

// 0b6380

// e5f67a