// :root {
//   --colors-primary: 230, 230, 250;
//   --colors-secondary: 39, 53, 74;
//   --colors-tertiary: 247, 140, 47;
//   --colors-light: 255, 255, 255;
//   --colors-dark: 0, 0, 0;
// }
:root {
  --colors-primary: 255, 255, 245;
  --colors-secondary: 195, 151, 151;
  --colors-tertiary: 44, 62, 80;
  --colors-light: 255, 255, 255;
  --colors-dark: 0, 0, 0;
}
